.des-types__info-list ul p:before {
    content: '—' !important;
}
.des-types__info-list a.link {
    font-size: 14px;
    color: #00b8e4;
    text-decoration: none;
    border-bottom: 1px dashed #00b8e4;
    margin: 0 0 20px 20px;
    display: inline-block;
    letter-spacing: 1.2px;
}
.des-types__info-list a.link:hover{
    border-bottom: 1px dashed transparent;
}
.des-types__info-list ul li {
    font-size: 14px;
    color: #7d7d7d;
    position: relative;
    padding: 0 !important;
    letter-spacing: 0.7px;
    margin-bottom: 0;
    overflow: hidden;
    height: 0;
}
.des-types__info-list ul li:nth-child(1),
.des-types__info-list ul li:nth-child(2),
.des-types__info-list ul li:nth-child(3),
.des-types__info-list ul li:nth-child(4),
.des-types__info-list ul.hide li{
    height: auto;
    margin-bottom: 13px;
}
.int-design__info .ras{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 53px;
}
.int-design__info .ras .btn.pdf{
    border: none;
    border-bottom: 1px dashed;
    border-radius: 0;
    padding: 0 0;
    font-size: 14px;
    margin: 7px 0 0 19px;
    letter-spacing: 3px;
}
.int-design__info .ras .btn.pdf:hover{
    background: transparent;
    color: #00b8e4;
    text-decoration: none;
    border-bottom: 1px dashed transparent;
}
.int-design__item form{
    width: 91%;
}
.int-design__item form .zag{
    font-size: 24px;
    color: #000;
    font-family: "RF Dewi Expanded", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 3px;
}
.int-design__item form .txt{
    font-size: 14px;
    color: #7d7d7d;
    letter-spacing: 0.6px;
    margin-bottom: 31px;
}
.int-design__item form .input-container{
    margin-bottom: 37px;
}
.int-design__item form .btn{
    background: #00b8e4;
    border-color: #00b8e4;
    color: #ffffff;
}
.int-design__item form .btn:hover{
    background: #fff;
    color: #00b8e4;
}
.service_super_heder{
    position: relative;
    padding-top: 135px;
    height: 1065px;
    overflow: hidden;
}
.service_super_heder .img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.service_super_heder .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service_super_heder .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.service_super_heder .box .left{
    width: 50%;
    background: rgb(0 0 0 / 40%);
    box-shadow: -10px 0 55px 80px rgb(0 0 0 / 40%);
}
.service_super_heder .box .left .sub-title{
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-family: "RF Dewi Expanded", sans-serif;
    letter-spacing: 0.3px;
    margin: 0 0 19px 0;
}
.service_super_heder .box .left .title{
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    line-height: 80px;
    margin: 0 0 0 -7px;
}
.service_super_heder .box .left .text{
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    margin: 64px 0 0 0;
    width: 70%;
}
.service_super_heder .box .left .text p{
    letter-spacing: 0.9px;
    margin-bottom: 29px;
}
.service_super_heder .box .right{
    width: 44.2%;
}
.service_super_heder .box .right .form{
    background: #fff;
    border-radius: 20px;
    margin: 17px 0 0 0;
    padding: 42px 49px 49px 49px;
}
.service_super_heder .box .right .form .zag{
    font-size: 18px;
    color: #000;
    font-family: "RF Dewi Expanded", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
.service_super_heder .box .right .form .txt{
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #666666;
    margin-bottom: 32px;
}
.service_super_heder .box .right .form .input-container:nth-child(1) {
    margin-top: 0;
}
.service_super_heder .box .right .form .input-container {
    margin-top: 36px;
    max-width: 520px;
}
.service_super_heder .box .right .form .btn{
    margin: 40px 0 0 0;
    color: #fff;
    background: #00b8e4;
}
.service_super_heder .box .right .form .btn:hover{
    color: #00b8e4;
    background: #fff;
}
.service_super_heder .box .right .form p{
    font-size: 10px;
    color: #7d7d7d;
    float: right;
    width: 59%;
    text-transform: uppercase;
    margin: 56px 0 0 0;
}
.service_super_heder .box .right .form__thank{
    right: -60px;
    padding: 49px 46px 49px 49px;
    max-width: 617px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    bottom: 29px;
    z-index: 10;
}
.service_super_heder .form__thank-info {
    padding: 0;
    width: 57%;
}
.service_super_heder .box .right .form .form__thank-info p.large{
    float: none;
    font-size: 30px;
    color: #000;
    margin: 0 0 10px 0;
    width: auto;
}
.service_super_heder .box .right .form .form__thank-info p{
    color: #252525;
    float: none;
    font-size: 14px;
    margin: 0 0 0 3px;
    width: auto;
    letter-spacing: 1.4px;
}
.service_super_heder .form__thank-close {
    width: 70px;
    min-width: 70px;
    height: 70px;
}
.vibor-nas{
    padding-top: 95px;
}
.vibor-nas h2{
    letter-spacing: 1px;
}
.vibor-nas h3{
    font-family: "RF Dewi Expanded", sans-serif;
    font-size: 24px;
    color: #000;
    text-align: left;
    margin: 0 0 0 99px;
    letter-spacing: 0.6px;
}
.vibor-nas .spisok{
    width: 81.2%;
    margin: 14px auto 69px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.vibor-nas .spisok .item{
    margin-bottom: 20px;
    width: 21.6%;
}
.vibor-nas .spisok .item .icon{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    overflow: hidden;
}
.vibor-nas .spisok .item .icon img{
    width: 101px;
}
.vibor-nas .spisok .item:nth-child(2) .icon img{
    width: 98px;
}
.vibor-nas .spisok .item:nth-child(4) .icon img{
    width: 102px;
}
.vibor-nas .spisok:nth-child(4){
    width: 83.2%;
}
.vibor-nas .spisok:nth-child(4) .item{
    width: 17.6%;
}
.vibor-nas .spisok:nth-child(4) .item .icon{
    height: 177px;
}
.vibor-nas .spisok:nth-child(4) .item .icon img{

}
.vibor-nas .spisok:nth-child(4) .item:nth-child(2) .icon img{
    width: 115px;
}
.vibor-nas .spisok:nth-child(4) .item:nth-child(3) .icon img{
    width: 110px;
}
.vibor-nas .spisok:nth-child(4) .item:nth-child(4) .icon img{
    width: 125px;
}
.vibor-nas .spisok:nth-child(4) .item:nth-child(5) .icon img{
    margin: 381px 0 0 937px;
    width: fit-content;
}
.vibor-nas .text{
    margin: 52px auto 0 auto;
    width: 71.5%;
}
.vibor-nas .text ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.vibor-nas .text ul li{
    font-size: 18px;
    color: #7d7d7d;
    letter-spacing: 0.7px;
    margin-bottom: 27px;
}
.vibor-nas .text ul li::before {
    content: "—";
    margin-right: 10px;
}
.vibor-nas .spisok .item .text{
    font-size: 16px;
    color: #7d7d7d;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
    margin: 0;
}
.calculation {
    padding-top: 136px;
}
.calculation h2{
    margin-bottom: 45px;
    letter-spacing: 0.6px;
}
.calculation .box .item{
    font-size: 18px;
    color: #7d7d7d;
    letter-spacing: 0.5px;
}
.calculation .box .item strong{
    color: #000;
    font-size: 24px;
    font-family: "RF Dewi Expanded", sans-serif;
    margin-left: 18px;
}
.calculation .text{
    text-align: center;
    font-size: 18px;
    color: #7d7d7d;
    letter-spacing: 0.75px;
    margin-bottom: 57px;
}
.calculation .viezd{
    font-size: 18px;
    color: #7d7d7d;
    letter-spacing: 0.7px;
    margin: 39px auto 36px auto;
    width: 71.2%;
}
.calculation .viezd strong{
    color: #000;
    font-size: 24px;
    font-family: "RF Dewi Expanded", sans-serif;
    margin-left: 15px;
}
.calculation .info{
    font-size: 16px;
    color: #7d7d7d;
    letter-spacing: 0.7px;
    line-height: 24px;
    border: 1px solid #00b8e4;
    background: url('../img/info.png') 48px 24px no-repeat;
    width: 71.4%;
    margin: 0 auto;
    padding: 24px 50px 22px 169px;
}
.calculation .box{
    margin: 0 auto;
    width: 72%;
}
.calculation .box .left {
    width: 33% !important;
    margin-top: 45px !important;
}
.calculation .box .right {
    width: 64% !important;
    background: #f4f6f9;
    border-radius: 165px;
    height: 100%;
    margin: 46px 0 0 0;
    padding: 38px;
    position: relative;
}
.calculation .box .right:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 10px 9px -10px rgb(0 0 0 / 15%) inset;
    z-index: 10;
    border-radius: 165px;
}
.calculation .box .right:after{
    content: '';
    width: 88%;
    height: 77%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 5px 7px 9px -10px rgb(0 0 0 / 15%);
    z-index: 10;
    border-radius: 165px;
}
.calculation .box .left .zag{
    top: 79px !important;
    left: -4px !important;
}
.calculation .box .left .metr {
    font-size: 20px !important;
    left: 14px !important;
    bottom: 140px !important;
}
.calculation .box .left #range .rs-full .rs-tooltip,
.calculation .box .left #range .rs-full .rs-tooltip input{
    height: 73px !important;
}
.calculation .box .right .bg{
    background: #fff;
    border-radius: 165px;
    padding: 55px 0 50px 0;
}
.calculation .box .right .text{
    font-size: 16px;
    margin-bottom: 10px;
}
.calculation .box .right .itog{
    margin-bottom: 20px;
}
.calculation .box .right .itog input{
    background: none;
    border: none;
    font-size: 60px;
    color: #00b8e4;
    font-family: "RF Dewi Expanded", sans-serif;
    text-align: center;
    padding: 0;
    display: block;
    width: 100%;
    cursor: default;
    pointer-events: none;
}
.calculation .box .right .price{
    text-align: center;
    font-family: "RF Dewi Expanded", sans-serif;
    font-size: 24px;
    color: #000;
}
.calculation .box .right .price span{

}
.kontrol-kachestva{
    background: url("../img/img370.jpg") 0 0 no-repeat;
    padding-top: 87px;
    margin-top: 150px;
    padding-bottom: 100px;
}
.kontrol-kachestva h2{
    color: #fff;
    margin-bottom: 33px;
}
.kontrol-kachestva .spisok{
    width: 90%;
    margin: 0 auto 0 auto;
}
.kontrol-kachestva .spisok .item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.kontrol-kachestva .spisok .item .icon{
    font-size: 90px;
    color: #00b8e4;
    font-family: "RF Dewi Expanded", sans-serif;
    width: 68px;
    text-align: center;
    margin-left: -12px;
}
.kontrol-kachestva .spisok .item .right{
    border-bottom: 1px solid rgb(247 247 247 / 20%);
    padding-bottom: 35px;
    width: 90%;
    margin-bottom: 13px;
}
.kontrol-kachestva .spisok .item .right .text{
    font-size: 32px;
    color: #f7f7f7;
    font-family: "RF Dewi Expanded", sans-serif;
    text-transform: uppercase;
    margin: 18px 0 17px 0;
    letter-spacing: 0.5px;
}
.kontrol-kachestva .spisok .item .right .mini-text{
    font-size: 18px;
    color: #f7f7f7;
    letter-spacing: 0.8px;
}
.project_tips {
    padding-top: 167px;
}
.project_tips .container {
    width: 85%;
}
.project_tips .title{
    font-size: 50px;
    color: #000000;
    font-family: 'RF Dewi Expanded', sans-serif;
    margin: 0 0 53px 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #00b8e4;
}
.project_tips .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 86%;
    margin: 0 auto;
}
.project_tips .box .item{
    width: 31%;
}
.project_tips .box .item .zag{
    font-size: 24px;
    color: #000000;
    font-family: 'RF Dewi Expanded', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.project_tips .box .item .price{
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 15px 0;
    margin-bottom: 28px;
}
.project_tips .box .item .price .name{
    font-size: 14px;
    color: #7d7d7d;
    letter-spacing: 0.6px;
    margin-right: 28px;
}
.project_tips .box .item .price .cena{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.project_tips .box .item .bot{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 34px;
}
.project_tips .box .item .bot a.btn{
    font-size: 14px;
    letter-spacing: 1.1px;
    text-decoration: none;
}
.project_tips .box .item .bot a.link{
    font-size: 14px;
    color: #00b8e4;
    text-decoration: underline;
    width: 42.3%;
    padding: 0 15px 0 0;
    letter-spacing: 1.3px;
}
.project_tips .box .item .bot a.link:hover{
    text-decoration: none;
}
.project_tips .box .item .spisok{

}
.project_tips .box .item .spisok ul li{
    font-size: 14px;
    color: #7d7d7d;
    position: relative;
    padding: 0 0 0 31px;
    letter-spacing: 0.7px;
    margin-bottom: 0;
    overflow: hidden;
    height: 0;
}
.project_tips .box .item .spisok ul li:nth-child(1),
.project_tips .box .item .spisok ul li:nth-child(2),
.project_tips .box .item .spisok ul li:nth-child(3),
.project_tips .box .item .spisok ul li:nth-child(4),
.project_tips .box .item .spisok ul.hide li{
    height: auto;
    margin-bottom: 16.5px;
}
.project_tips .box .item .spisok ul li:before{
    content: "—";
    font-size: 14px;
    color: #7d7d7d;
    position: absolute;
    left: 0;
}
.project_tips .box .item .spisok a.link{
    font-size: 14px;
    color: #00b8e4;
    text-decoration: none;
    border-bottom: 1px dashed #00b8e4;
    margin: 0 0 0 31px;
    display: inline-block;
    letter-spacing: 1.2px;
}
.project_tips .box .item .spisok a.link:hover{
    border-bottom: 1px dashed transparent;
}
.project_tips .top-rice{
    margin-top: 50px;
    border: 1px solid #e1e1e1;
    padding: 43px 98px 21px 98px;
}
.project_tips .top-rice .zag{
    font-size: 24px;
    color: #000000;
    font-family: 'RF Dewi Expanded', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin-bottom: 25px;
}
.project_tips .top-rice .box{
    width: 100%;
}
.project_tips .top-rice .box .left{
    width: 25%;
}
.project_tips .top-rice .price{
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 15px 0;
    margin-bottom: 28px;
}
.project_tips .top-rice .price .name{
    font-size: 14px;
    color: #7d7d7d;
    letter-spacing: 0.6px;
    margin-right: 28px;
}
.project_tips .top-rice .price .cena{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.project_tips .top-rice .bot{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 26px;
}
.project_tips .top-rice .bot a.btn{
    font-size: 14px;
    letter-spacing: 1.1px;
    text-decoration: none;
}
.project_tips .top-rice .bot a.link{
    font-size: 14px;
    color: #00b8e4;
    text-decoration: underline;
    width: 29%;
    letter-spacing: 1.3px;
}
.project_tips .top-rice .bot a.link:hover{
    text-decoration: none;
}
.project_tips .top-rice .spisok{
    width: 65.4%;
    margin-top: -9px;
}
.project_tips .top-rice .spisok ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project_tips .top-rice .spisok ul li{
    font-size: 14px;
    color: #7d7d7d;
    position: relative;
    padding: 0 0 0 31px;
    letter-spacing: 0.7px;
    margin-bottom: 16.5px;
    width: 50%;
}
.project_tips .top-rice .spisok ul li:before{
    content: "—";
    font-size: 14px;
    color: #7d7d7d;
    position: absolute;
    left: 0;
}
.nashi-priem{
    background: url("../img/img371.jpg") 0 0 no-repeat;
    margin: 180px 0 0 0;
    padding-top: 87px;
    padding-bottom: 50px;
}
.nashi-priem h2{
    color: #fff;
    margin-bottom: 83px;
}
.nashi-priem .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 0 auto;
    width: 95.3%;
}
.nashi-priem .box .left{
    width: 46.5%;
}
.nashi-priem .box .left .item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 57px;
}
.nashi-priem .box .left .item .icon{

}
.nashi-priem .box .left .item .icon img{

}
.nashi-priem .box .left .item .text{
    font-size: 24px;
    color: #fff;
    width: 78.7%;
    letter-spacing: 1px;
}
.nashi-priem .box .right{
    width: 46.5%;
}
.nashi-priem .box .right .form{
    background: #fff;
    border-radius: 20px;
    margin: 16px 0 0 0;
    padding: 42px 49px 49px 49px;
}
.nashi-priem .box .right .form .zag{
    font-size: 18px;
    color: #000;
    font-family: "RF Dewi Expanded", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
.nashi-priem .box .right .form .txt{
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #666666;
    margin-bottom: 10px;
}
.nashi-priem .box .right .form .input-container:nth-child(1) {
    margin-top: 0;
}
.nashi-priem .box .right .form .input-container {
    margin-top: 36px;
    max-width: 520px;
}
.nashi-priem .box .right .form .btn{
    margin: 40px 0 0 0;
    color: #fff;
    background: #00b8e4;
}
.nashi-priem .box .right .form .btn:hover{
    color: #00b8e4;
    background: #fff;
}
.nashi-priem .box .right .form p{
    font-size: 10px;
    color: #7d7d7d;
    float: right;
    width: 59%;
    text-transform: uppercase;
    margin: 56px 0 0 0;
}
.nashi-priem .box .right .form__thank{
    right: -60px;
    padding: 49px 46px 49px 49px;
    max-width: 617px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    bottom: 29px;
    z-index: 10;
}
.nashi-priem .box .right.form__thank-info {
    padding: 0;
    width: 57%;
}
.nashi-priem .box .right .form .form__thank-info p.large{
    float: none;
    font-size: 30px;
    color: #000;
    margin: 0 0 10px 0;
    width: auto;
}
.nashi-priem .box .right .form .form__thank-info p{
    color: #252525;
    float: none;
    font-size: 14px;
    margin: 0 0 0 3px;
    width: auto;
    letter-spacing: 1.4px;
}
.nashi-priem .box .right .form__thank-close {
    width: 70px;
    min-width: 70px;
    height: 70px;
}
.material{
    padding-top: 169px;
}
.material h2{
    margin-bottom: 49px;
}
.material .text{
    font-size: 24px;
    color: #7d7d7d;
    width: 86%;
    margin: 0 auto 0 auto;
    letter-spacing: 1px;
    line-height: 40px;
}
.material .spisok{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 81%;
    margin: 122px auto 0 auto;
}
.material .spisok .item{
    width: 21%;
    margin-bottom: 111px;
    margin-right: 60px;
}
.material .spisok .item:nth-child(4n){
    margin-right: 0;
}
.material .spisok .item .img{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.material .spisok .item .img img{

}
.material .spisok .item .txt{
    font-size: 16px;
    color: #7d7d7d;
    text-align: center;
}
.int-design{
    padding-top: 154px;
}
.int-design__item {
    padding: 41px 0 45px 0;
    max-width: 1100px;
    margin: 0 100px 0 auto;
}
.int-design__item .text{
    padding: 40px 0 0 0;
}
.int-design__item .int-design__info .text{
    padding: 0;
}
.int-design__item .text p{
    font-size: 18px;
    color: #7d7d7d;
}
.int-design__item .text p span{
    color: #00b9e5;
}
.int-design__title span{
    left: -130px;
}
.int-design__title:after{
    right: 30px;
}
.int-design__row {
    padding-top: 32px;
}
.int-design__info {
    max-width: 765px;
}
.int-design__info p{
    letter-spacing: 0.77px;
    margin-bottom: 22px;
    line-height: 24px;
}
.int-design__persons .int-des{
    width: 75%;
    margin: 0 0 0 57px;
}
.int-design__persons .int-des p{
    letter-spacing: 0.35px;
}
.int-design__info .btn.pdf{
    padding: 22px 24px 19px 74px;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin-top: 28px;
}
.int-design__person-el{
    margin-left: 32px;
}
.int-design__person-el:last-child{
    margin-right: 100px;
}
.int-design__item .spisok{

}
.int-design__item .spisok .item{
    border: 1px solid #ebebeb;
    margin: 90px 0 0 0;
    padding: 44px 0;
}
.int-design__item .spisok .name{
    font-size: 22px;
    color: #000;
    font-family: "RF Dewi Expanded", sans-serif;
    text-transform: uppercase;
    margin: 0 auto 56px auto;
    letter-spacing: 0.4px;
    width: 89.5%;
}
.int-design__item .spisok .name span{
    text-transform: none;
}
.int-design__item .spisok .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 32px 0 23px;
}
.int-design__item .spisok .box .li{
    width: 17%;
}
.int-design__item .spisok .box .li .icon{
    width: fit-content;
    margin: 0 auto;
    height: 102px;
}
.int-design__item .spisok .box .li .icon img{

}
.int-design__item .spisok .box .li .text{
    display: block;
    font-size: 16px;
    color: #7d7d7d;
    padding: 0;
    text-align: center;
}
.int-design__item .spisok .item:nth-child(2){
    border: none;
    margin: 0 0 0 0;
}
.int-design__item .spisok .item:nth-child(2) .box .li .icon{
    height: 116px;
}
.int-design__item .spisok .item:nth-child(2) .box .li:nth-child(1),
.int-design__item .spisok .item:nth-child(2) .box .li:nth-child(2),
.int-design__item .spisok .item:nth-child(2) .box .li:nth-child(3),
.int-design__item .spisok .item:nth-child(2) .box .li:nth-child(4),
.int-design__item .spisok .item:nth-child(2) .box .li:nth-child(5){
    margin-bottom: 62px;
}
.int-design__item .spisok .item:nth-child(3){
    margin: 2px 0 0 0;
    padding-bottom: 9px;
}
.int-design__item .spisok .item:nth-child(3) .box .li{
    margin-bottom: 58px;
}
.int-design__item .spisok .item:nth-child(3) .box .li:last-child(1),
.int-design__item .spisok .item:nth-child(3) .box .li:last-child(2){
    margin-bottom: 0;
}
.int-design__item .spisok .item:nth-child(3) .box .li:last-child{
    margin-right: auto;
    margin-left: 33px;
}
.int-design__item .spisok .item:nth-child(3) .box .li .icon{
    height: 128px;
}
.int-design__item .spisok .info{
    font-size: 16px;
    color: #7d7d7d;
    text-align: center;
    letter-spacing: 0.7px;
    padding: 21px 0 0 0;
}
.int-design__item .spisok .info span{
    color: #00b9e5;
}
.projects{
    padding-top: 112px;
}
.projects__links-el {
    padding: 20px 50px;
}
.projects__links-image .image {
    padding-bottom: 73%;
}
.projects .projects__button{
    margin-top: 34px;
}
.des-types{
    padding-top: 144px;
}
.des-types__info-list ul {
    margin: 12px 0 -4px 0;
}
.des-types__info-list .btn{
    padding: 21px 55px;
}
.des-terms{
    padding-top: 166px;
}
.des-terms__grid{
    margin-top: 72px;
}
.faq{
    background: #f7f7f7;
    margin-top: 180px;
    padding: 86px 0;
}
.faq h2{
    font-size: 50px;
    font-family: "RF Dewi Expanded", sans-serif;
    line-height: 1.2;
    padding-bottom: 10px;
    margin-bottom: 100px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    position: relative;
    border-bottom: 1px solid #00b8e4;
    letter-spacing: normal;
}
.faq .int-design__item{
    background: #fff;
    margin: 0 auto 30px auto;
    max-width: 1200px;
    border-radius: 10px;
    border: 0;
    padding: 46px 3px 26px 99px;
}
.faq .int-design__title{
    font-size: 16px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
}
.faq .int-design__title:before{
    content: '';
    position: absolute;
    background: url("../img/vopr.png") 0 0 no-repeat;
    width: 32px;
    height: 32px;
    left: -61px;
    top: -5px;
}
.faq .vopros{
    font-size: 18px;
    color: #7d7d7d;
    width: 86%;
    letter-spacing: 0.79px;
    line-height: 24px;
    margin-bottom: 40px;
}
.faq .otvet{

}
.faq .otvet .zag{
    font-size: 16px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    position: relative;
    line-height: 1.2;
    font-family: "RF Dewi Expanded", sans-serif;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    padding-right: 80px;
    cursor: pointer;
}
.faq .otvet .zag:before{
    content: '';
    position: absolute;
    background: url("../img/otv.png") 0 0 no-repeat;
    width: 32px;
    height: 32px;
    left: -61px;
    top: -5px;
}
.faq .otvet p{
    font-size: 18px;
    color: #7d7d7d;
    width: 92%;
    letter-spacing: 0.79px;
    line-height: 24px;
    margin-bottom: 20px;
}
@media(max-width: 1613px){
    .project_uslugi .container,
    .project_tips .container{
        width: 92%;
    }
}
@media(max-width: 1600px){
    .service_super_heder .box .left {
        margin: 0 0 0 auto;
    }
    .service_super_heder .box .right {
        width: 44%;
    }
    .service_super_heder .box .right .form__thank{
        right: 0;
    }
    .service_super_heder{
        height: auto;
        padding-bottom: 50px;
    }
    .service_super_heder .box .left .text{
        width: 100%;
    }
    .kontrol-kachestva .spisok {
        width: 100%;
    }
    .int-design__item {
        max-width: 90%;
        margin: 0 0 0 auto;
    }
    .project_tips .box{
        width: 100%;
    }
    .nashi-priem .box{
        width: 100%;
    }
    .material .text{
        width: 100%;
    }
    .material .spisok{
        width: 100%;
    }
    .material .spisok .item{
        margin-right: 74px;
    }
}
@media(max-width: 1499px){
    .project_uslugi .container,
    .project_tips .container{
        width: 100%;
    }
    .service_super_heder .img{
        height: 100%;
    }
    .service_super_heder .box .left .title{
        font-size: 65px;
    }
    .service_super_heder .box .left .text{
        width: 100%;
        color: #fff;
    }
    .service_super_heder .box .right .form p{
        width: 43%;
        margin: 47px 0 0 0;
    }
    .service_super_heder .box .left {
        margin: 0;
    }
    .int-design__item{
        margin: 0 0 0 80px;
    }
    .int-design__title span {
        left: -80px;
    }
    .vibor-nas .spisok {
        width: 100%;
    }
    .faq h2 {
        font-size: 44px;
    }
    .int-design__item form {
        width: 100%;
    }
    .project_tips .box{
        width: 100%;
    }
    .project_tips .box .item {
        width: 32%;
    }
    .project_tips .box .item .bot a.link{
        width: 35%;
        padding: 0;
    }
    .project_tips .top-rice{
        padding: 43px;
    }
    .project_tips .top-rice .box .left {
        width: 31%;
    }
    .project_tips .top-rice .spisok ul li{
        width: 49%;
    }
    .vibor-nas .spisok .item{
        width: 33%;
    }
    .calculation .box{
        width: 100%;
    }
    .nashi-priem .box .right {
        width: 55%;
    }
    .nashi-priem .box .left {
        width: 43%;
    }
    .nashi-priem{
        background-size: cover;
    }
    .nashi-priem .box .left .item .text{
        width: 70%;
    }
    .material .spisok .item {
        margin-right: 54px;
    }
    .vibor-nas h3{
        margin: 0;
    }
    .vibor-nas .spisok .item {
        width: 24%;
    }
    .vibor-nas .spisok:nth-child(4) {
        width: 100%;
    }
    .vibor-nas .spisok:nth-child(4) .item {
        width: 19%;
    }
    .vibor-nas .text,
    .calculation .viezd,
    .calculation .info{
        width: 100%;
    }
    .calculation .box .left {
        width: 330px !important;
    }
}
@media(max-width: 1124px){
    .service_super_heder .box .left {
        width: 100%;
    }
    .service_super_heder .box .left .title {
        font-size: 60px;
    }
    .service_super_heder .box .right {
        width: 100%;
    }
    .service_super_heder .box .right .form .input-container{
        max-width: 100%;
    }
    .service_super_heder .box .right .form p {
        width: auto;
        margin: 63px 0 0 20px;
        float: none;
        display: inline-block;
    }
    .service_super_heder .box .right .form {
        margin: 0;
    }
    .faq h2 {
        font-size: 40px;
    }
    .project_tips {
        padding-top: 50px;
    }
    .project_tips .title {
        font-size: 35px;
    }
    .project_tips .box .item .zag {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .project_tips .box .item .bot a.btn {
        letter-spacing: 0;
    }
    .project_tips .top-rice .bot a.btn{
        letter-spacing: 0;
    }
    .project_tips .top-rice .bot a.link{
        width: 36%;
    }
    .project_tips .top-rice .box .left {
        width: 40%;
    }
    .project_tips .top-rice .spisok {
        width: 55%;
    }
    .vibor-nas .spisok .item .text {
        font-size: 18px;
    }
    .vibor-nas .spisok .item .text br{
        display: none;
    }
    .calculation .box .left{
        margin: 45px 0 0 0 !important;
    }
    .calculation .box .right {
        width: 60% !important;
    }
    .calculation .box .right:after {
        width: 86%;
    }
    .kontrol-kachestva .spisok .item .right .text {
        font-size: 28px;
    }
    .kontrol-kachestva .spisok .item .icon {
        font-size: 70px;
    }
    .int-design {
        padding-top: 90px;
    }
    .nashi-priem .box .left .item .text {
        font-size: 18px;
    }
    .nashi-priem .box .left {
        width: 100%;
    }
    .nashi-priem .box .left .item .text {
        width: 85%;
    }
    .nashi-priem .box .left .item{
        margin-bottom: 20px;
    }
    .nashi-priem .box .right {
        width: 100%;
    }
    .nashi-priem .box .right .form .input-container {
        max-width: 100%;
    }
    .nashi-priem .box .right .form p {
        width: auto;
        margin: 63px 0 0 20px;
        float: none;
        display: inline-block;
    }
    .material .text {
        font-size: 18px;
        line-height: 30px;
    }
    .material .spisok {
        margin: 0 auto;
        justify-content: space-between;
    }
    .material .spisok .item {
        margin-right: 0;
        width: 28%;
        margin-bottom: 25px;
    }
    .vibor-nas .spisok .item {
        width: 50%;
    }
    .vibor-nas .spisok:nth-child(4) .item {
        width: 50%;
    }
    .calculation .box .left .zag {
        left: 30px !important;
        width: 50% !important;
    }
    .calculation .box .left .metr {
        left: 35px !important;
    }
}
@media(max-width: 992px){
    .service_super_heder .box .right .form p {
        width: 68%;
        margin: 0 0 0 20px;
    }
    .service_super_heder .box .left .title {
        font-size: 45px;
        margin-bottom: 0;
    }
    .service_super_heder {
        padding-top: 110px;
    }
    .service_super_heder .box .left .sub-title{
        margin: 0;
    }
    .int-design__person-el:last-child {
        margin-right: 0;
    }
    .int-design__person-el {
        margin-left: 0;
    }
    .int-design__item {
        margin: 0 0 0 70px;
        padding: 35px 0;
    }
    .int-design__title span {
        left: -70px;
    }
    .faq h2 {
        font-size: 36px;
    }
    .faq .vopros {
        font-size: 16px;
    }
    .faq .otvet p {
        font-size: 16px;
    }
    .project_tips .box .item {
        width: 100%;
        margin-bottom: 40px;
    }
    .project_tips .top-rice {
        padding: 20px;
        margin-top: 0;
    }
    .project_tips .top-rice .box .left {
        width: 100%;
    }
    .project_tips .top-rice .spisok {
        width: 100%;
        margin: 0;
    }
    .vibor-nas .spisok .item {
        width: 50%;
    }
    .calculation .box .left {
        width: 330px !important;
        margin: 0 auto !important;
    }
    .calculation .box .right {
        width: 100% !important;
        margin: 0 auto;
    }
    .kontrol-kachestva .spisok .item .right .text {
        font-size: 24px;
        margin: 7px 0 7px 0;
    }
    .kontrol-kachestva .spisok .item .icon {
        font-size: 50px;
    }
    .nashi-priem .box .left .item .text {
        width: 80%;
    }
    .material {
        padding-top: 60px;
    }
    .nashi-priem{
        margin: 60px 0 0 0;
    }
    .kontrol-kachestva{
        margin-top: 60px;
    }
    .material .spisok .item{
        width: 50%;
    }
    .int-design__item .spisok .name {
        font-size: 18px;
    }
    .int-design__item .spisok .box .li {
        width: 33%;
        margin-bottom: 20px;
    }
    .int-design__item .spisok .item:nth-child(3) .box .li:last-child {
        margin-right: 0;
        margin-left: 0;
    }
    .calculation {
        padding-top: 60px;
    }
    .calculation .box .item{
        width: 100%;
        margin-bottom: 20px;
    }
    .calculation .box .left .metr {
        left: 14px !important;
    }
    .calculation .box .left .zag {
        left: 0 !important;
    }
}
@media(max-width: 760px){
    .service_super_heder .box .left .sub-title{
        font-size: 20px;
    }
    .service_super_heder .box .left .title {
        font-size: 36px;
    }
    .service_super_heder .box .left .text {
        font-size: 16px;
    }
    .service_super_heder .box .left .text p {
        margin-bottom: 15px;
    }
    .service_super_heder .box .right .form {
        margin: 0;
        padding: 30px;
    }
    .service_super_heder .box .right .form p {
        width: 100%;
        margin: 10px 0 0 0;
        display: block;
    }
    .int-design__title span {
        left: 0;
    }
    .int-design__item {
        margin: 0;
        max-width: 100%;
    }
    .int-design__info p {
        margin-bottom: 15px;
    }
    .int-design__persons .int-des {
        width: 100%;
        margin: 20px 0 0 0;
    }
    .int-design__info {
        max-width: 100%;
    }
    .projects {
        padding-top: 60px;
    }
    .des-types {
        padding-top: 60px;
    }
    .des-terms {
        padding-top: 60px;
    }
    .faq {
        margin-top: 60px;
        padding: 50px 0;
    }
    .faq h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .faq .int-design__item{
        padding: 30px;
    }
    .faq .vopros {
        width: 100%;
    }
    .int-design__title:after {
        right: 0;
    }
    .faq .int-design__title:before{
        left: 0;
    }
    .faq .otvet .zag{
        padding-right: 0;
        padding-left: 40px;
    }
    .faq .otvet .zag:before{
        left: 0;
    }
    .faq .otvet p{
        width: 100%;
    }
    .int-design__item form .zag {
        font-size: 16px;
    }
    .int-design__info .ras{
        margin-bottom: 0;
    }
    .int-design__item form {
        margin-top: 40px;
    }
    .int-design__item form .input-container {
        margin-bottom: 45px;
    }
    .project_tips .title {
        font-size: 25px;
    }
    .project_uslugi .box .left .title{
        font-size: 35px;
    }
    .project_uslugi .box .left{
        padding-top: 25px;
    }
    .kontrol-kachestva .spisok .item .right{
        width: 88%;
    }
    .kontrol-kachestva .spisok .item .right .mini-text {
        font-size: 14px;
    }
    .kontrol-kachestva .spisok .item .right .text {
        font-size: 16px;
    }
    .kontrol-kachestva .spisok .item .icon {
        font-size: 32px;
    }
    .nashi-priem .box .left .item .text {
        width: 75%;
    }
    .nashi-priem .box .right .form p {
        margin: 20px 0 0 0;
    }
    .nashi-priem .box .right .form {
        margin: 0;
        padding: 30px;
    }
    .material .text {
        font-size: 16px;
        line-height: 25px;
    }
    .int-design__item .spisok .box{
        padding: 0 10px;
    }
    .int-design__item .spisok .name {
        font-size: 16px;
        width: 95%;
    }
    .service_super_heder .box .left .text{
        margin: 0;
        line-height: 25px;
    }
    .vibor-nas {
        padding-top: 35px;
    }
    .vibor-nas h3 {
        font-size: 20px;
    }
    .vibor-nas .spisok .item {
        width: 100%;
    }
    .vibor-nas .spisok:nth-child(4) .item {
        width: 100%;
    }
}
@media(max-width: 565px){
    .service_super_heder .box .left .title {
        line-height: 45px;
    }
    .service_super_heder .box .left .text {
        margin-top: 20px;
    }
    .service_super_heder .box .left .text {
        font-size: 16px;
        line-height: 24px;
    }
    .projects__links-el {
        padding: 20px 15px;
    }
    .projects__links-item p {
        padding: 0;
    }
    .des-terms__grid {
        margin-top: 30px;
    }
    .faq .int-design__title {
        font-size: 14px;
    }
    .faq .vopros {
        font-size: 14px;
    }
    .faq .otvet .zag {
        font-size: 14px;
    }
    .faq .otvet p {
        font-size: 14px;
    }
    .int-design__item form .input-container {
        margin-bottom: 80px;
    }
    .project_tips .top-rice .spisok ul li {
        width: 100%;
    }
    .kontrol-kachestva {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .kontrol-kachestva .spisok .item .right {
        width: 80%;
        padding-bottom: 20px;
    }
    .nashi-priem .box .left .item .text {
        width: 65%;
        font-size: 16px;
    }
    .nashi-priem {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .material .spisok .item {
        width: 100%;
    }
    .material .spisok .item .img {
        height: 100px;
    }
    .material .spisok .item{
        margin-bottom: 40px;
    }
    .int-design__item .spisok .box .li {
        width: 49%;
    }
    .vibor-nas .spisok {
        margin: 30px 0;
    }
    .vibor-nas .spisok .item {
        width: 100%;
    }
    .calculation {
        padding-top: 50px;
    }
    .calculation .box .right .text {
        font-size: 14px;
    }
    .calculation .box .right .itog input{
        font-size: 40px;
    }
    .calculation .box .right .price{
        font-size: 18px;
    }
    .calculation .box .right .itog {
        margin-bottom: 10px;
    }
    .calculation .box .right .bg {
        border-radius: 110px;
        padding: 30px 0 30px 0;
    }
    .calculation .box .right {
        border-radius: 110px;
        padding: 25px;
    }
    .calculation .box .left {
        margin: 30px auto 0 auto;
    }
    .vibor-nas .spisok .item .text {
        font-size: 16px;
    }
    .vibor-nas .text ul li {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .calculation .text {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .calculation .box .item {
        font-size: 16px;
    }
    .calculation .box .item strong {
        font-size: 20px;
        margin-left: 5px;
    }
    .calculation .viezd {
        font-size: 16px;
    }
    .calculation .viezd strong {
        font-size: 20px;
        margin-left: 0;
        display: block;
    }
    .calculation .info{
        padding: 20px;
        background: none;
    }
    .slider-mobile .slick-dots{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
    }
    .slider-mobile .slick-dots button{
        font-size: 0;
        background: #fff;
        border: 1px solid #00b8e4;
        width: 8px;
        height: 8px;
        padding: 0;
        border-radius: 20px;
        margin-right: 10px;
    }
    .slider-mobile .slick-dots li:last-child button{
        margin-right: 0;
    }
    .slider-mobile .slick-dots .slick-active button{
        background: #00b8e4;
    }
}