// BEGIN SECTION :: ARTICLE CONTENT

.article
  section.no-padding-top
    .container
      .article__w1000
        p.fs24.mt90 Зеркало — один из самых мощных инструментов, с помощью которого можно оптически изменить масштабы и пропорции интерьера, создать увлекательную интригу. В современных интерьерах широко используются крупноформатные цельные зеркала для создания так называемых «обманок», когда при взгляде на зеркало кажется, что за ним находится ещё один интерьер, а не стена.
      .article__gallery.mt90(js-mobile-slider)
        .swiper-wrapper
          .swiper-slide
            .article__gallery-item
              .article__gallery-image
                .image(style="background-image: url(img/article-slide-1.jpg)")
          .swiper-slide
            .article__gallery-item
              .article__gallery-image
                span.sale 50%
                .image(style="background-image: url(img/article-slide-2.jpg)")
          .swiper-slide
            .article__gallery-item
              .article__gallery-image
                .image(style="background-image: url(img/article-slide-3.jpg)")

      .article__w1200
        h2.small.mt70 рассмотрим примеры
      .article__w1000
        ul
          li
            p Простенок от самого пола до потолка, отделанный зеркалом, превращается в иллюзорный проход в другое помещение.
          li  
            p Если напротив большого зеркала поместить ещё одно, возникнет череда переотражений и эффект «тоннеля», который психологически некомфортен, но очень необычен, поэтому его иногда создают в узкой проходной зоне для визуального «расширения».   
          li  
            p Зеркало напротив окна, даже небольшое, усиливает освещённость и придаёт комнате лёгкость, прозрачность.  
          li  
            p Длинная зеркальная вставка вдоль стены под потолком как бы «отрывает» нижнюю плоскость от верхней, придаёт помещению, даже небольшому, воздушность. 
          li  
            p Иногда по периметру одной из длинных стен комнаты выкладывают зеркальный «портал» — и помещение на глазах делается как будто «шире».
          li  
            p Замечательно углубляет перспективу и создаёт интригу зеркало, помещенное напротив двери.
          li  
            p Два зеркала, даже нешироких, помещённые встык на соседних стенах и примерно на уровне глаз, способны «раздвинуть» границы даже маленькой комнатки, например, ванной.
          li  
            p Особое искусство — поместить зеркало у входа в соседнее пространство под углом так, чтобы «поймать» интересное отражение и сделать пространство интереснее, а отражение в нём – обманчивее.

  section
    .container
      h2 как «поднять» потолок
      .article__w1000
        ul.no-points
          li
            p Известно, что даже маленькая комната с высокими потолками выглядит просторной, и наоборот – большая комната при низких потолках как бы «съёживается», уменьшается в размерах не только по высоте, но и в объёме.
          li
            p Поправить такой изъян можно с помощью оптических эффектов. Один из самых простых и удачных приёмов — использовать 
              span  натяжные глянцевые потолки. 
              | Они совсем немного понижают реальный уровень потолка, но создают замечательную иллюзию. В традиционных интерьерах, оформленных в классическом стиле или в духе кантри, лучше остановить выбор на белом или светло-бежевом или светло-сером — он будет гармонировать с обстановкой. Для современного интерьера подойдёт и цветной вариант — эффект, который способен создать чёрный или фиолетовый глянец, превосходит все самые смелые ожидания — с ним пространство буквально удваивается. Разумеется, остальная обстановка должна гармонировать с выбранным цветом.
          li
            p В случае, если потолок выравнивается гипсокартонном, 
              span  поможет контурная скрытая подсветка,
              |  визуально  как бы приподнимающая его над стенами.
          li
            p Создать нужный эффект помогут увеличенные по высоте дверные проёмы: в зависимости от стилистики интерьера можно сделать больше 
              span  высоту дверей
              |  — вплоть до верхней границы, или же надстроить дверную композицию фрамужным окном. 
          li
            p В комнате с низким потолком от потолочных 
              span  светильников
              |  лучше вообще отказаться, заменив их на бра и контурную подсветку, которые не будут подчёркивать реальную высоту помещения,  или же использовать плоские, как бы стелющиеся вдоль поверхности потолка плафоны белого цвета.

      .article__w1200
        .article__slider.mt90(js-full-slider)
          .swiper-wrapper
            .swiper-slide
              .image(style="background-image: url(img/article-image-1.jpg)")
            .swiper-slide
              .image(style="background-image: url(img/article-image-2.jpg)")
            .swiper-slide
              .image(style="background-image: url(img/article-image-3.jpg)")
            .swiper-slide
              .image(style="background-image: url(img/article-image-4.jpg)")
          .slider-controls
            .slider-arrow.slider-arrow--prev
              svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.18 477.18' xml:space='preserve')
                path(d='M360.73 229.07 135.63 3.97c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z' fill="#00b8e4")
            .swiper-pagination
            .slider-arrow.slider-arrow--next
              svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.18 477.18' xml:space='preserve')
                path(d='M360.73 229.07 135.63 3.97c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z' fill="#00b8e4")

  section
    .container
      h2 что делать, когда площади 
        br
        | не хватает
      .article__w1000
        ul.no-points
          li
            p Порой даже владельцы больших квартир оказываются перед  проблемой, когда оказывается, что места для всех функциональных помещений не достаточно. В маленьких же проблема приобретает особую остроту.
          li
            p Совмещение функций на территории одной зоны в этом случае становится необходимостью, но осуществить её можно, сохранив удобство и красоту. 
          li
            p Первый помощник в этой задаче — 
              span  трансформирующаяся мебель.
              |  Прошли времена топорных  кресел-кроватей — на их месте в гостиной или студии может появиться элегантная композиция узкого шкафа, часть секций которого, ничем не выдавая свою имитационную природу, одним движением раскладывается в полноценную 
              span  кровать
              |  с ортопедическим матрасом. Если 
              span  рабочий уголок
              |  никак не вписывается в интерьер, стол с копьютером, тумбами для бумаг и полками можно скрыть в за раздвижными дверями от пола до потолка в нише или шкафу-купе. А уж дизайн последнего опытный архитектор сможет привести к полной гармонии с обстановкой. Весьма удобны разнообразные 
              span  выкатные тумбы,
              |  которые в обычное время располагаются под столешницей, но без труда перемещаются при необходимости устроиться за столом. Вдвое уменьшить количество мебели помогают 
              span  столы-трансформеры.
              |  Обеденный стол, удваивающий свой размер посредством простых манипуляций — не единственный вариант. Журнальный столик,  легко вырастающий до высоты обеденного — удачный выбор для небольшой гостиной. Роскошные возможности для компактного хранения предоставляет 
              span  медиатека
              |  — многосекционная конструкция со стационарно закреплёнными пристенными местами хранения, перед которыми можно «достроить» один или несколько рядов сдвижных секций, перемещаемых по специальным рельсам.

      .article__w1200
        .article__slider.mt90(js-full-slider)
          .swiper-wrapper
            .swiper-slide
              .image(style="background-image: url(img/article-image-2.jpg)")
            .swiper-slide
              .image(style="background-image: url(img/article-image-1.jpg)")
            .swiper-slide
              .image(style="background-image: url(img/article-image-0.jpg)")
            .swiper-slide
              .image(style="background-image: url(img/article-image-3.jpg)")
            .swiper-slide
              .image(style="background-image: url(img/article-image-4.jpg)")
            .swiper-slide
              .image(style="background-image: url(img/article-image-1.jpg)")
          .slider-controls
            .slider-arrow.slider-arrow--prev
              svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.18 477.18' xml:space='preserve')
                path(d='M360.73 229.07 135.63 3.97c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z' fill="#00b8e4")
            .swiper-pagination
            .slider-arrow.slider-arrow--next
              svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.18 477.18' xml:space='preserve')
                path(d='M360.73 229.07 135.63 3.97c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z' fill="#00b8e4")


// END SECTION :: ARTICLE CONTENT