// BEGIN SECTION :: ARTICLE HERO

section.article-hero
  .article-hero__image(style="background-image: url(img/article-hero.jpg)")
  .article-hero__bottom
    .container
      p.small статья
      h1 Зеркальные 
        br
        | обманки

// END SECTION :: ARTICLE HERO