// BEGIN SECTION :: AWARDS

section.image-slider
  .container
    h2 наши награды
  .container.container--small
    .image-slider__slider(js-4-slider)
      .swiper-wrapper
        .swiper-slide
          .slider__image
            .image(style="background-image: url(img/award-1.jpg)")
          .slider__info
            p.title european property awards architecture
            p.info Best Architecture Single Residence Russia Regions 2021-2022 в Лондоне за проект "Вилла Riva"
        .swiper-slide
          .slider__image
            .image(style="background-image: url(img/award-2.png)")
          .slider__info
            p.title premium living 2019
            p.info TOP-100 лучших элитных интерьеров России – Лофт в ЖК «Рассвет»
        .swiper-slide
          .slider__image
            .image(style="background-image: url(img/award-3.png)")
          .slider__info
            p.title exteria professional architecture award
            p.info Победитель Best Russian Houses в номинации «Вилла» — Вилла в Жуковке
        .swiper-slide
          .slider__image
            .image(style="background-image: url(img/award-4.jpg)")
          .slider__info
            p.title a’design award 2016
            p.info 2-е место на конкурсе в Милане за реализованный проект жилого дома в Сочи
        .swiper-slide
          .slider__image
            .image(style="background-image: url(img/award-1.jpg)")
          .slider__info
            p.title european property awards architecture
            p.info Best Architecture Single Residence Russia Regions 2021-2022 в Лондоне за проект "Вилла Riva"
        .swiper-slide
          .slider__image
            .image(style="background-image: url(img/award-4.jpg)")
          .slider__info
            p.title a’design award 2016
            p.info 2-е место на конкурсе в Милане за реализованный проект жилого дома 

      .slider-controls
        .slider-arrow.slider-arrow--prev
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.18 477.18' xml:space='preserve')
            path(d='M360.73 229.07 135.63 3.97c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z' fill="#00b8e4")
        .slider-arrow.slider-arrow--next
          svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 477.18 477.18' xml:space='preserve')
            path(d='M360.73 229.07 135.63 3.97c-5.3-5.3-13.8-5.3-19.1 0s-5.3 13.8 0 19.1l215.5 215.5-215.5 215.5c-5.3 5.3-5.3 13.8 0 19.1 2.6 2.6 6.1 4 9.5 4 3.4 0 6.9-1.3 9.5-4l225.1-225.1c5.3-5.2 5.3-13.8.1-19z' fill="#00b8e4")

// END SECTION :: AWARDS