section.company-about
  .container.container--small
    .company-about__grid
      .company-about__team
        .company-about__team-el
          .team__item
            .team__image
              .image(style="background-image: url(img/konst-zhilchenko.jpg)")
            p.name Константин Жильченко
            p.about Руководитель decoart
        .company-about__team-el
          .team__item
            .team__image
              .image(style="background-image: url(img/ruslan-moroshanu.jpg)")
            p.name Руслан Морошану
            p.about Главный инженер проектов

      .company-about__info
        p.blue 
          span В работе студии применяются передовые системы менеджмента: TQM (Total Quality Management) и японская система   контроля качества Kaizen
        p.info Деятельность всех специалистов компании направлена на создание стильного, уникального, комфортного, соответствующего строительным норма и правилам, а главное удовлетворяющего пожеланиям и требованиям клиента, дизайн- проекта интерьера или архитектурного проекта дома