// BEGIN SECTION :: CONTACTS

section.contacts
  .container
    h1 Контакты

    .contacts__grid
      .contacts__el
        p.contacts__title Бизнес-парк «Румянцево»
        p.contacts__about Москва, поселение «Московский», Киевское шоссе, 22-й км, корпус А, офис 08-08а
      .contacts__el
        p.contacts__title Окский
        p.contacts__about Москва, улица Окская, дом 3, корпус 2, офис 11

  .contacts__map-grid
    .contacts__map-el
      .contacts__el
        p.contacts__title Бизнес-парк «Румянцево»
        p.contacts__about Москва, поселение «Московский», Киевское шоссе, 22-й км, корпус А, офис 08-08а
      .contacts__map
        .contacts__map-container
          .map#mapRumyantsevo
    .contacts__map-el
      .contacts__el
        p.contacts__title Окский
        p.contacts__about Москва, улица Окская, дом 3, корпус 2, офис 11
      .contacts__map
        .contacts__map-container
          .map#mapOkskiy


    

// END SECTION :: CONTACTS