// BEGIN SECTION :: DESIGN TYPES

section.des-types
  .container
    h2 типы проектов

  .container.container--small
    .des-types__row
      .des-types__el
        .des-types__image
          .image(style="background-image: url(img/types-1.jpg)")
        .des-types__info
          p.title экспресс
          p 6 страниц
        .des-types__info-row
          p Стоимость
          p.bold 500 Р/м²
        .des-types__info-row
          p Срок
          p.bold 10 дней
        .des-types__info-list
          ul
            li
              p обмерный чертеж
            li
              p 3 варианта перепланировки
            li
              p итоговый вариант
            li
              p строительный план
      .des-types__el
        .des-types__image
          .image(style="background-image: url(img/types-2.jpg)")
        .des-types__info
          p.title экспресс
          p 6 страниц
        .des-types__info-row
          p Стоимость
          p.bold 500 Р/м²
        .des-types__info-row
          p Срок
          p.bold 10 дней
        .des-types__info-list
          ul
            li
              p обмерный чертеж
            li
              p 3 варианта перепланировки
            li
              p итоговый вариант
            li
              p строительный план
      .des-types__el
        .des-types__image
          .image(style="background-image: url(img/types-3.jpg)")
        .des-types__info
          p.title полный
          p 35 страниц
        .des-types__info-row
          p Стоимость
          p.bold 1 800 Р/м²
        .des-types__info-row
          p Срок
          p.bold 2 месяца
        .des-types__info-list
          ul
            li
              p обмерный чертеж
            li
              p 3 варианта перепланировки
            li
              p итоговый вариант
            li
              p план демонтажа
            li
              p план после реконструкции
            li
              p схема зонирования
            li
              p развертки стен с/у
            li
              p схема теплых полов
            li
              p схема привязки оборудования
            li
              p схема раскладки плитки на полу
            li
              p план потолков
            li
              p план полов
            li
              p схема размещения карнизов
            li
              p специцикация проемов и дверей
            li
              p план электрики (принципиальный)
            li
              p схема расположения светильников
            li
              p схема технологических коммуникаций
            li
              p подбор материалов и оборудования
            li
              p ведомость отделки всех помещений
            li
              p.bold развертка стен всех помещений
            li
              p.bold визуализация (3-5 видовые точки)
            li
              p.bold чертежи нестандартных изделий
            li
              p.bold разрезы
            li
              p.bold колористическое решение




// END SECTION :: DESIGN TYPES