// BEGIN SECTION :: DESIGN TERMS

section.des-terms
  .container
    h2 сроки разработки

  .container.container--small
    .des-terms__grid
      .des-terms__el
        p.type квартиры
        .des-terms__container
          .des-terms__line
            p.mobile 0
            p.mobile.kvm м²
          .des-terms__line
            p.mobile 10
          .des-terms__line
            p.mobile 20
          .des-terms__line
            p.mobile 30
          .des-terms__line
            p.mobile 40
          .des-terms__line
            p.mobile 50
          .des-terms__line
            p.mobile 60
          .des-terms__line
            p.mobile 70
          .des-terms__line
            p.mobile 80
          .des-terms__line
            p.mobile 90
          .des-terms__line
            p.mobile 100
            p.mobile.days дней
          .des-terms__row.des-terms__row--charts
            .des-terms__column 
              .des-terms__chart(style="height: 10%")
            .des-terms__column 
              .des-terms__chart(style="height: 15%")
            .des-terms__column 
              .des-terms__chart(style="height: 20%")
            .des-terms__column 
              .des-terms__chart(style="height: 26%")
            .des-terms__column 
              .des-terms__chart(style="height: 35%")
        .des-terms__row
          .des-terms__column 
            p.bold 50
            p 1-комнатная
          .des-terms__column 
            p.bold 75
            p 2-комнатная
          .des-terms__column 
            p.bold 100
            p 3-комнатная
          .des-terms__column 
            p.bold 125
            p 4-комнатная
          .des-terms__column 
            p.bold 150+
            p 5-комнатная
        p.info Срок разработки проекта зависит как от площади объекта, так и от варианта реализации составу документации. Полный дизайн-проект небольшой квартиры может занимать почти столько же времени, сколько экспресс дизайн большого дома.
      .des-terms__el
        p.type дома
        .des-terms__container
          .des-terms__line
            p 0
            p.kvm м²
          .des-terms__line
            p 10
          .des-terms__line
            p 20
          .des-terms__line
            p 30
          .des-terms__line
            p 40
          .des-terms__line
            p 50
          .des-terms__line
            p 60
          .des-terms__line
            p 70
          .des-terms__line
            p 80
          .des-terms__line
            p 90
          .des-terms__line
            p 100
            p.days дней
          .des-terms__row.des-terms__row--charts
            .des-terms__column 
              .des-terms__chart(style="height: 50%")
            .des-terms__column 
              .des-terms__chart(style="height: 75%")
            .des-terms__column 
              .des-terms__chart(style="height: 100%")
        .des-terms__row
          .des-terms__column 
            p.bold 150+
            p небольшой
          .des-terms__column 
            p.bold 250
            p оптимальный
          .des-terms__column 
            p.bold 500+
            p большой
        p.info На первой ознакомительной встрече мы обсуждаем ваши пожелания по стилистике интерьера, знакомимся с объектом и сможем сразу сказать примерный срок разработки дизайн-проекта.

// END SECTION :: DESIGN TERMS