// BEGIN SECTION :: FORM

section.form
  .container
    .form__grid
      .form__left
        .form__title
          p.large есть вопросы или задача?
          h2 оставьте заявку
          p мы перезвоним вам, чтобы проконсультировать или обсудить детали

      .form__right
        .form__thank
          .form__thank-image
            img(src="img/deco-part.png", alt="")
          .form__thank-info
            p.large благодарим
            p ваша заявка принята
          .form__thank-close
        .form__container
          form(action="#") 
            .input-container
              input(type="text", name="" placeholder="Ваше имя")
              .label Ваше имя
            .input-container
              input(type="text", name="" placeholder="телефон")
              .label телефон
            button.btn.btn--border жду звонка
            p Нажимая кнопку Отправить, я даю согласие на Обработку персональных данных

// END SECTION :: FORM