// BEGIN SECTION :: GALLERY

section.gallery
  .container
    h2 галерея работ
    .gallery__slider(js-mobile-slider)
      .swiper-wrapper
        .swiper-slide
          a.gallery__item(href="#") 
            .gallery__image
              img(src="img/gallery-1.jpg", alt="")
            .gallery__info
              p.large квартиры
              p смотреть
        .swiper-slide
          a.gallery__item(href="#") 
            .gallery__image
              img(src="img/gallery-2.jpg", alt="")
            .gallery__info
              p.large коттеджи
              p смотреть
        .swiper-slide
          a.gallery__item(href="#") 
            .gallery__image
              img(src="img/gallery-3.jpg", alt="")
            .gallery__info
              p.large офисы
              p смотреть
        .swiper-slide
          a.gallery__item(href="#") 
            .gallery__image
              img(src="img/gallery-4.jpg", alt="")
            .gallery__info
              p.large коммерческие объекты
              p смотреть

// END SECTION :: GALLERY