// BEGIN SECTION :: HERO

section.hero
  .hero__image(style="background-image: url(img/hero.jpg)")
  .hero__bottom
    .container
      p.small новый проект
      h1 Дизайн 2-х комнатной квартиры 92 м²
      .hero__gallery(js-mobile-slider)
        .swiper-wrapper
          .swiper-slide
            .hero__gallery-item
              .hero__gallery-image
                .image(style="background-image: url(img/hero-small-1.jpg)")
              .hero__gallery-info
                p.title новый проект
                p.about Дизайн 2-х комнатной квартиры 92 м²
          .swiper-slide
            .hero__gallery-item
              .hero__gallery-image
                span.sale 50%
                .image(style="background-image: url(img/hero-small-2.jpg)")
              .hero__gallery-info
                p.title Акция
                p.about 11 ноября скидка 50% на дизайн- проект при заказе ремонта
          .swiper-slide
            .hero__gallery-item
              .hero__gallery-image
                .image(style="background-image: url(img/hero-small-3.jpg)")
              .hero__gallery-info
                p.title блог
                p.about 15 способов визуально увеличить пространство вашей квартиры
          .swiper-slide
            .hero__gallery-item
              .hero__gallery-image
                .image(style="background-image: url(img/hero-small-4.jpg)")
              .hero__gallery-info
                p.title новый проект
                p.about Строительство 2-этажного дома 240 м² в Калужской области Строительство 2-этажного дома 240 м² в Калужской области
    
// END SECTION :: HERO