// BEGIN SECTION :: HERO IMAGE

section.hero-image
  img.hero-image__image(src="img/hero-image-design.jpg", alt="")
  .container
    .hero-image__top
      h1 Дизайн интерьера
      p.service услуги

  .container.container--small
    .hero-image__info
      p Разработка дизайна интерьера — это сложный процесс поиска, отбора и сочетания различных вариантов планировки, технического оснащения и декорирования помещения. Основываясь на законах художественного вкуса, знаниях и опыте исполнителя, поиск такого решения в обязательном порядке должен опираться на индивидуальность и потребности заказчика. Только в этом случае можно считать, что требуемые результат достигнут, а дизайн интерьера отвечает всем необходимым условиям.

// END SECTION :: HERO IMAGE