// BEGIN SECTION :: INSTAGRAM

section.instagram
  .container
    h2 наш instagram
    .instagram__row
      .instagram__el
        a.instagram__item(href="#") 
          //- .image(style="background-image: url(img/inst-1.jpg)")
          img(src="img/inst-1.jpg", alt="")
          span Смотреть
      .instagram__el
        a.instagram__item(href="#") 
          //- .image(style="background-image: url(img/inst-2.jpg)")
          img(src="img/inst-2.jpg", alt="")
          span Смотреть
      .instagram__el
        a.instagram__item(href="#") 
          //- .image(style="background-image: url(img/inst-3.jpg)")
          img(src="img/inst-3.jpg", alt="")
          span Смотреть
      .instagram__el
        a.instagram__item(href="#") 
          //- .image(style="background-image: url(img/inst-4.jpg)")
          img(src="img/inst-4.jpg", alt="")
          span Смотреть
      .instagram__el
        a.instagram__item(href="#") 
          //- .image(style="background-image: url(img/inst-5.jpg)")
          img(src="img/inst-5.jpg", alt="")
          span Смотреть
      .instagram__el
        a.instagram__item(href="#") 
          //- .image(style="background-image: url(img/inst-6.jpg)")
          img(src="img/inst-6.jpg", alt="")
          span Смотреть
      .instagram__el
        a.instagram__item(href="#") 
          //- .image(style="background-image: url(img/inst-7.jpg)")
          img(src="img/inst-7.jpg", alt="")
          span Смотреть
      .instagram__el
        a.instagram__item(href="#") 
          //- .image(style="background-image: url(img/inst-8.jpg)")
          img(src="img/inst-8.jpg", alt="")
          span Смотреть
      



// END SECTION :: INSTAGRAM