// BEGIN SECTION :: INT-DESIGN

section.int-design
  .container
    h2 дизайн интерьера
    .int-design__item
      p.int-design__title.is-active(js-open-design-info) Встреча
        br
        | с дизайнером
        span 1
      .int-design__hidden(style="display: block")
        .int-design__row
          .int-design__info
            p На первой встрече вы уже получите пользу — дизайнер поможет определить стилистику и сориентирует по стоимости дизайн-проекта и будущего ремонта.
            p После встречи вы получите коммерческое предложение с точной стоимостью и сроками разработки проекта.
          .int-design__persons
            .int-design__person-el
              .int-design__person-image
                img(src="img/vera-leonteva.jpg", alt="")
              p.name вера
                br
                | леонтьева
              p.about дизайнер
              a.btn(href="#") связаться
            .int-design__person-el
              .int-design__person-image
                img(src="img/nikita-karmashev.jpg", alt="")
              p.name никита
                br
                | кармашев
              p.about дизайнер
              a.btn(href="#") связаться
    .int-design__item
      p.int-design__title(js-open-design-info) коммерческое
        br
        | предложение
        span 2
      .int-design__hidden
        .int-design__row
          .int-design__info
            p На первой встрече вы уже получите пользу — дизайнер поможет определить стилистику и сориентирует по стоимости дизайн-проекта и будущего ремонта.
            p После встречи вы получите коммерческое предложение с точной стоимостью и сроками разработки проекта.
          .int-design__persons
            .int-design__person-el
              .int-design__person-image
                img(src="img/vera-leonteva.jpg", alt="")
              p.name вера
                br
                | леонтьева
              p.about дизайнер
              a.btn(href="#") связаться
            .int-design__person-el
              .int-design__person-image
                img(src="img/nikita-karmashev.jpg", alt="")
              p.name никита
                br
                | кармашев
              p.about дизайнер
              a.btn(href="#") связаться
    .int-design__item
      p.int-design__title(js-open-design-info) эскизный
        br
        | проект
        span 3
      .int-design__hidden
        .int-design__row
          .int-design__info
            p На первой встрече вы уже получите пользу — дизайнер поможет определить стилистику и сориентирует по стоимости дизайн-проекта и будущего ремонта.
            p После встречи вы получите коммерческое предложение с точной стоимостью и сроками разработки проекта.
          .int-design__persons
            .int-design__person-el
              .int-design__person-image
                img(src="img/vera-leonteva.jpg", alt="")
              p.name вера
                br
                | леонтьева
              p.about дизайнер
              a.btn(href="#") связаться
            .int-design__person-el
              .int-design__person-image
                img(src="img/nikita-karmashev.jpg", alt="")
              p.name никита
                br
                | кармашев
              p.about дизайнер
              a.btn(href="#") связаться
    .int-design__item
      p.int-design__title(js-open-design-info) рабочая
        br
        | документация
        span 4
      .int-design__hidden
        .int-design__row
          .int-design__info
            p На первой встрече вы уже получите пользу — дизайнер поможет определить стилистику и сориентирует по стоимости дизайн-проекта и будущего ремонта.
            p После встречи вы получите коммерческое предложение с точной стоимостью и сроками разработки проекта.
          .int-design__persons
            .int-design__person-el
              .int-design__person-image
                img(src="img/vera-leonteva.jpg", alt="")
              p.name вера
                br
                | леонтьева
              p.about дизайнер
              a.btn(href="#") связаться
            .int-design__person-el
              .int-design__person-image
                img(src="img/nikita-karmashev.jpg", alt="")
              p.name никита
                br
                | кармашев
              p.about дизайнер
              a.btn(href="#") связаться
    .int-design__item
      p.int-design__title(js-open-design-info) Спецификации
        br
        | и сметы
        span 5
      .int-design__hidden
        .int-design__row
          .int-design__info
            p На первой встрече вы уже получите пользу — дизайнер поможет определить стилистику и сориентирует по стоимости дизайн-проекта и будущего ремонта.
            p После встречи вы получите коммерческое предложение с точной стоимостью и сроками разработки проекта.
          .int-design__persons
            .int-design__person-el
              .int-design__person-image
                img(src="img/vera-leonteva.jpg", alt="")
              p.name вера
                br
                | леонтьева
              p.about дизайнер
              a.btn(href="#") связаться
            .int-design__person-el
              .int-design__person-image
                img(src="img/nikita-karmashev.jpg", alt="")
              p.name никита
                br
                | кармашев
              p.about дизайнер
              a.btn(href="#") связаться



// END SECTION :: INT-DESIGN