// BEGIN SECTION :: MAIN-ARTICLES

section.main-articles
  .container
    h2 статьи
    .main-articles__item
      .main-articles__left
        p.main-articles__title энциклопедия дизайна
        .main-articles__links
          a(href="#") Стили в интерьере
          a(href="#") Мебель
          a(href="#") Декор и аксессуары
        span.main-articles__arrow(js-open-articles-row)
          svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='m8 11 4 4 4-4' stroke='#00B8E4' stroke-width='2' stroke-linecap='round')
      .main-articles__right
        .main-articles__info-container
          .main-articles__info
            .main-articles__info-image
              //- img(src="img/art-main-1.jpg", alt="")
              .image(style="background-image: url(img/art-main-1.jpg)")
            .main-articles__info-about
              p.title они работают — мы отдыхаем
              p.about Жизнь современного человека нельзя назвать спокойной и разммеренной: для неё характерны быстрый темп, стремление всё успеть и, как следствие усталость и стрессы
              a.btn(href="#") подробнее
        .main-articles__hidden
          .main-articles__row
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Интерьеры гостиных
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Дизайн кухни
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Интерьеры спален
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Ванные комнаты
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Загородные дома
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p 1-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p 2-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p 3-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Дизайн холла
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Интерьеры детской
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Бассейны
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Инженерные коммуникации
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Бани
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Беседки
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Ландшафтный дизайн
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-1.jpg", alt="")
                .image(style="background-image: url(img/art-main-1.jpg)")
                p Котельные
    .main-articles__item
      .main-articles__left
        p.main-articles__title энциклопедия архитектуры
        .main-articles__links
          a(href="#") История архитектуры
          a(href="#") Стили в архитектуре
          a(href="#") Словарь терминов
        span.main-articles__arrow(js-open-articles-row)
          svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='m8 11 4 4 4-4' stroke='#00B8E4' stroke-width='2' stroke-linecap='round')
      .main-articles__right
        .main-articles__info-container
          .main-articles__info
            .main-articles__info-image
              //- img(src="img/art-main-2.jpg", alt="")
              .image(style="background-image: url(img/art-main-2.jpg)")
            .main-articles__info-about
              p.title декор гостиной
              p.about Жизнь современного человека нельзя назвать спокойной и разммеренной: для неё характерны быстрый темп, стремление всё успеть и, как следствие усталость и стрессы
              a.btn(href="#") подробнее
        .main-articles__hidden
          .main-articles__row
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Интерьеры гостиных
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Дизайн кухни
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Интерьеры спален
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Ванные комнаты
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Загородные дома
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p 1-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p 2-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p 3-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Дизайн холла
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Интерьеры детской
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Бассейны
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Инженерные коммуникации
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Бани
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Беседки
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Ландшафтный дизайн
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-2.jpg", alt="")
                .image(style="background-image: url(img/art-main-2.jpg)")
                p Котельные
    .main-articles__item
      .main-articles__left
        p.main-articles__title энциклопедия ремонта
        .main-articles__links
          a(href="#") Отопление
          a(href="#") Вентиляция и кандиционирование
          a(href="#") Газо- и электроснабжение
        span.main-articles__arrow(js-open-articles-row)
          svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='m8 11 4 4 4-4' stroke='#00B8E4' stroke-width='2' stroke-linecap='round')
      .main-articles__right
        .main-articles__info-container
          .main-articles__info
            .main-articles__info-image
              //- img(src="img/art-main-3.jpg", alt="")
              .image(style="background-image: url(img/art-main-3.jpg)")
            .main-articles__info-about
              p.title минимализм на кухне
              p.about Жизнь современного человека нельзя назвать спокойной и разммеренной: для неё характерны быстрый темп, стремление всё успеть и, как следствие усталость и стрессы
              a.btn(href="#") подробнее
        .main-articles__hidden
          .main-articles__row
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Интерьеры гостиных
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Дизайн кухни
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Интерьеры спален
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Ванные комнаты
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Загородные дома
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p 1-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p 2-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p 3-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Дизайн холла
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Интерьеры детской
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Бассейны
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Инженерные коммуникации
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Бани
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Беседки
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Ландшафтный дизайн
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-3.jpg", alt="")
                .image(style="background-image: url(img/art-main-3.jpg)")
                p Котельные
    .main-articles__item
      .main-articles__left
        p.main-articles__title Полезная информация
        .main-articles__links
          a(href="#") Выставки, конкурсы
          a(href="#") Полезные ресурсы
          a(href="#") Партнёры
          a(href="#") Дизайн проект
          a(href="#") Ремонт
        span.main-articles__arrow.is-active(js-open-articles-row)
          svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='m8 11 4 4 4-4' stroke='#00B8E4' stroke-width='2' stroke-linecap='round')
      .main-articles__right
        .main-articles__info-container(style="display: none")
          .main-articles__info
            .main-articles__info-image
              //- img(src="img/art-main-4.jpg", alt="")
              .image(style="background-image: url(img/art-main-4.jpg)")
            .main-articles__info-about
              p.title заголовок №4
              p.about Жизнь современного человека нельзя назвать спокойной и разммеренной: для неё характерны быстрый темп, стремление всё успеть и, как следствие усталость и стрессы
              a.btn(href="#") подробнее
        .main-articles__hidden(style="display: block")
          .main-articles__row
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Интерьеры гостиных
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Дизайн кухни
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Интерьеры спален
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Ванные комнаты
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Загородные дома
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p 1-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p 2-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p 3-комнатные
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Дизайн холла
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Интерьеры детской
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Бассейны
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Инженерные коммуникации
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Бани
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Беседки
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Ландшафтный дизайн
            .main-articles__row-el
              a.main-articles__row-item(href="#") 
                //- img(src="img/art-main-4.jpg", alt="")
                .image(style="background-image: url(img/art-main-4.jpg)")
                p Котельные


// END SECTION :: MAIN-ARTICLES