// BEGIN SECTION :: PAGE404

section.page404
  .page404__image
    img(src="img/image404.jpg", alt="")
  .page404__info
    h1 Такой страницы
      br
      | нет на сайте
    p Перейдите на 
      a(href="#") Главную страницу
      |  или воспользуйтесь меню

// END SECTION :: PAGE404