// BEGIN SECTION :: PROJECTS

section.projects
  .container
    h1 Проекты
    .projects__tags
      .projects__tag-el
        a.projects__tag.is-active(href="#")  Архитектурное проектирование
      .projects__tag-el
        a.projects__tag(href="#")  дизайн интерьеров
      .projects__tag-el
        a.projects__tag(href="#")  строительство домов
      .projects__tag-el
        a.projects__tag(href="#")  ремонт квартир

    .projects__links
      .projects__links-el
        a.projects__links-item(href="#") 
          .projects__links-image
            .image(style="background-image: url(img/projects-1.jpg)")
          p Коттедж 450 м² на Симферопольском шоссе
      .projects__links-el
        a.projects__links-item(href="#") 
          .projects__links-image
            .image(style="background-image: url(img/projects-2.jpg)")
          p Коттедж "Остров фантазий"
      .projects__links-el
        a.projects__links-item(href="#") 
          .projects__links-image
            .image(style="background-image: url(img/projects-3.jpg)")
          p Коттедж на Новорижском шоссе
      .projects__links-el
        a.projects__links-item(href="#") 
          .projects__links-image
            .image(style="background-image: url(img/projects-4.jpg)")
          p Коттедж в Серебряном бору

// END SECTION :: PROJECTS