section
  .row-item
    .row-item__info-container
      .row-item__info
        p.small услуги
        p.title проектирование 
          br
          | и дизайн
        .row-item__icons
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/design-icon.svg)")
              p Дизайн интерьера
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/arch-icon.svg)")
              p Архитектура жилых домов
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/3dvisual-icon.svg)")
              p 3d-визуализация
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/author-icon.svg)")
              p Авторский надзор
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/plan-icon.svg)")
              p Планировка и перепланировка
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/tech-icon.svg)")
              p Технический надзор
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/plan-agree-icon.svg)")
              p Согласование перепланировки
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/komplekt-icon.svg)")
              p Комплектация объекта чистовыми материалами и оборудованием

    .row-item__image(style="background-image: url(img/item1.jpg)")

  .row-item.row-item--reverse
    .row-item__info-container
      .row-item__info
        p.small услуги
        p.title строительство
          br
          | и ремонт
        .row-item__icons.row-item__icons--column
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/stroitelstvo-icon.svg)")
              p Строительство и отделочные работы
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/podbor-icon.svg)")
              p Подбор и покупка строительных материалов
          .row-item__icons-el
            .row-item__icons-item
              .row-item__icon
                .image(style="background-image: url(img/montazh-inzhener-icon.svg)")
              p Монтаж инженерных коммуникаций
          

    .row-item__image(style="background-image: url(img/item2.jpg)")

  .container
    .row-item__btn
      a.btn.btn--icon(href="#") скачать презентацию
        svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 9.7 12.1' xml:space='preserve')
          path(d='M9.4 11.8H.3V.3h7.3l1.8 1.8z' fill="none" stroke="#231f20" stroke-width=".6" stroke-miterlimit="10")
          path(d='M7.5.5v1.8h1.9' fill="none" stroke="#231f20" stroke-width=".6" stroke-miterlimit="10")
          path(d='M1.9 2.9h4.2M1.9 4.3h5.9M1.9 5.7h5.9M1.9 7h5.9M1.9 8.5h5.9' fill="none" stroke="#231f20" stroke-width=".6" stroke-miterlimit="10")
