// BEGIN SECTION :: TEAM

section.team
  .container
    h2 команда
  .container.container--small
    .team__row
      .team__el
        .team__item
          .team__image
            .image(style="background-image: url(img/yuriy-leontev.jpg)")
          //- p.name Юрий Александрович Леонтьев
          p.name Юрий Леонтьев
          p.about Главный инженер
      .team__el
        .team__item
          .team__image
            .image(style="background-image: url(img/nikita-karmashev-2.jpg)")
          p.name никита кармашев
          p.about визуализатор
      .team__el
        .team__item
          .team__image
            .image(style="background-image: url(img/marina-blinovskaya.jpg)")
          p.name марина блиновская
          p.about менеджер проектов
      .team__el
        .team__item
          .team__image
            .image(style="background-image: url(img/arkadiy-taratuta.jpg)")
          p.name аркадий таратута
          p.about архитектор
      a.team__el.team__el--stay(href="#") 
        .team__image
          .image
          p станьте частью команды
            img.arrow(src="img/blue-arrow.svg", alt="")

// END SECTION :: TEAM