// BEGIN SECTION :: VACANCIES

section
  .vacancies
    .container
      h2 вакансии
    .container.container--small
      .vacancies__grid
        .vacancies__items
          .vacancies__item
            .vacancies__row
              p.title Архитектор-проектировщик
              p.price от  
                span 50 000 
                |  до  
                span 80 000 ₽
            .vacancies__point
              .vacancies__point-icon
                img(src="img/icon-time-blue.svg", alt="" width="16")
              p Полный день
            .vacancies__point
              .vacancies__point-icon
                img(src="img/icon-pin-blue.svg", alt=""  width="14")
              p Москва  /  Удалённо
          .vacancies__item
            .vacancies__row
              p.title Дизайнер интерьера
              p.price от 
                span  120 000
                |  ₽
            .vacancies__point
              .vacancies__point-icon
                img(src="img/icon-time-blue.svg", alt="" width="16")
              p На проект
            .vacancies__point
              .vacancies__point-icon
                img(src="img/icon-pin-blue.svg", alt=""  width="14")
              p Москва офис
          .vacancies__item
            .vacancies__row
              p.title Руководитель проектов
              p.price 
                span по договоренности
            .vacancies__point
              .vacancies__point-icon
                img(src="img/icon-time-blue.svg", alt="" width="16")
              p Полный день
            .vacancies__point
              .vacancies__point-icon
                img(src="img/icon-pin-blue.svg", alt=""  width="14")
              p Москва офис
        .vacancies__about
          p.title Мы предлагаем
          ul
            li
              p интересные проекты для реализации
            li
              p возможность участвовать в конкурсах
            li
              p масштабные задачи
            li
              p обучение и развитие компетенций

// END SECTION :: VACANCIES