.project_head{
    padding: 0;
    background: #000000;
}
.project_head .img{
    overflow: hidden;
}
.project_head img{
    width: 100%;
    transform: scale(1) translateY(0px);
}
.project_head .container{
    width: 68%;
    padding-top: 47px;
    padding-bottom: 71px;
}
.project_head .name{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 7px;
    margin-bottom: 18px;
}
.project_head .zag{
    color: #fff;
    font-size: 50px;
    font-family: 'RF Dewi Expanded', sans-serif;
    width: 80%;
    letter-spacing: 1.2px;
}
.project_cifri{
    background: #f4f6f9;
    padding: 47px 0 69px 0;
}
.project_cifri .container{
    width: 68%;
}
.project_cifri .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.project_cifri .box .item{

}
.project_cifri .box .item:last-child{
    width: 32%;
}
.project_cifri .box .item .name{
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}
.project_cifri .box .item .num{
    font-family: 'RF Dewi Expanded', sans-serif;
    font-size: 100px;
    color: #000000;
    text-align: center;
}
.project_cifri .box .item .txt{
    font-family: 'RF Dewi Expanded', sans-serif;
    font-size: 24px;
    color: #000000;
    margin-top: 24px;
    line-height: 40px;
}
.project_plan{
    padding: 110px 0 0 0;
}
.project_plan .container{
    width: 68%;
}
.project_plan .text{
    font-size: 24px;
    line-height: 40px;
    color: #7d7d7d;
    font-weight: 300;
    letter-spacing: 1.2px;
    width: 83%;
    margin: 0 auto 74px auto;
}
.project_plan .title{
    font-family: 'RF Dewi Expanded', sans-serif;
    font-size: 30px;
    color: #000000;
    text-align: center;
    margin-bottom: 44px;
}
.project_plan .tab {
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 38px;
}
.project_plan .tab button {
    font-size: 14px;
    color: #00b8e4;
    font-weight: 300;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid #00b8e4;
    padding: 14px 33px;
    margin-right: 8px;
    border-radius: 50px;
    transition: all 0.5s;
    cursor: pointer;
}
.project_plan .tab button:hover {
	background: #00b8e4 !important;
    border: 1px solid #00b8e4;
    color: #fff;
}
.project_plan .tab button.active {
    background: #f4f6f9;
    border: 1px solid #f4f6f9;
}
.project_plan .tabcontent {
    display: none;
}
.project_plan .tabcontent img{
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.project_plan .video{
    margin: 64px 0 0 0;
}
.project_plan .video video{
    width: 100%;
    height: 680px;
}
.project_slider{
    padding: 99px 0 0 0;
}
.project_slider .container{
    width: 68%;
    position: relative;
}
.project_slider .item{
    margin-bottom: 106px;
    position: relative;
}
.project_slider .item .title{
    font-family: 'RF Dewi Expanded', sans-serif;
    font-size: 50px;
    color: #000000;
    letter-spacing: 1px;
    margin-bottom: 44px;
}
.project_slider .item .text{
    font-size: 18px;
    line-height: 26px;
    color: #7d7d7d;
    font-weight: 300;
    width: 62%;
    padding: 0 0 0 102px;
    letter-spacing: 0.4px;
    margin-bottom: 53px;
}
.project_slider .item .slider{

}
.project_slider .item .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    right: 153px;
    bottom: 6px;
}
.project_slider .item .btns .slick-arrow{
    position: relative;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #00b8e4;
    width: 60px;
    height: 60px;
    font-size: 0;
    cursor: pointer;
    transition: all 0.5s;
}
.project_slider .item .btns .slick-arrow svg{
    width: 27px;
    height: 27px;
}
.project_slider .item .btns .slick-arrow:hover{
    background: #00b8e4;
}
.project_slider .item .btns .slick-arrow path{
    transition: all 0.5s;
}
.project_slider .item .btns .slick-arrow:hover path{
    fill: #fff;
}
.project_slider .item .btns .slick-arrow.slick-prev{
    z-index: 1;
    transform: rotate(180deg);
    margin-right: 37px;
}
.project_slider .item .btns .slick-arrow.slick-next{
    z-index: 1;
    margin-left: 37px;
}
.project_slider .item .slider-num{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: 300;
    width: 65px;
}
.project_slider .item .slider .img{
    width: 100%;
}
.project_slider .item .slider .img img{
    width: 100%;
}
.project_slider .item:last-child .text{
    width: 87%;
}
.project_slider .item .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 0 -209px;
    width: calc(100% + 417px);
}
.project_slider .item .box .img{
    width: 47%;
}
.project_slider .item .box .img img{
    width: 100%;
}
.element-animation {
    opacity: 0;
    transition: all 1.5s;
    transform: translateY(80px);
}
.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}
.project_slider + .form{
    padding-top: 1px;
}
.project_slider + .form .container{
    width: 73%;
}
.project_slider + .form .form__left .large {
    margin: 0 0 12px;
    letter-spacing: 9.5px;
}
.project_slider + .form .form__grid{
    justify-content: space-between;
    align-items: flex-start;
}
.project_slider + .form .form__left h2{
    margin-bottom: 33px;
}
.project_slider + .form .form__left p{
    letter-spacing: 1.4px;
}
.project_slider + .form .form__right{
    background: none;
    width: 38.6%;
    padding-top: 28px;
}
.project_slider + .form .input-container {
    margin-top: 36px;
}
.project_slider + .form .form__container .btn {
    margin-top: 34px;
}
.project_slider + .form .form__container p{
    margin-top: 45px;
}
@media(max-width: 1499px){
    .project_head .container,
    .project_cifri .container,
    .project_plan .container,
    .project_slider .container,
    .project_slider + .form .container{
        width: 85%;
    }
    .project_plan .text{
        width: 100%;
    }
    .project_plan .tabcontent img {
        width: 100%;
    }
    .project_slider .item .text{
        padding: 0;
        width: 65%;
    }
    .project_slider .item .btns{
        right: 0;
    }
    .project_slider .item:last-child .text {
        width: 100%;
    }
    .project_slider .item .box {
        margin: 0 0 0 -11vw;
        width: calc(100% + 22vw);
    }
    .project_slider + .form .form__right {
        width: 45%;
    }
}
@media(max-width: 1124px){
    .project_head .container,
    .project_cifri .container,
    .project_plan .container,
    .project_slider .container,
    .project_slider + .form .container{
        width: 100%;
    }
    .project_slider .item .btns {
        right: 50px;
    }
    .project_slider .item .box {
        margin: 0 0 0 -5vw;
        width: calc(100% + 10vw);
    }
    .project_head .zag{
        width: 100%;
        font-size: 35px;
    }
    .project_cifri .box .item .num{
        font-size: 65px;
    }
    .project_cifri .box .item .txt {
        font-size: 20px;
        margin-top: 15px;
        line-height: 30px;
    }
    .project_plan .text {
        font-size: 18px;
        line-height: 28px;
    }
    .project_slider .item .title{
        font-size: 40px;
    }
    .project_slider .item .btns .slick-arrow.slick-prev{
        margin-right: 15px;
    }
    .project_slider .item .btns .slick-arrow.slick-next {
        margin-left: 15px;
    }
    .project_slider .item .text {
        width: 75%;
    }
    .project_slider + .form .form__right {
        width: 50%;
        padding-top: 0;
    }
}
@media(max-width: 992px){
    .project_head .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .project_head .name{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .project_cifri {
        padding: 30px 0;
    }
    .project_cifri .box .item .num {
        font-size: 50px;
    }
    .project_cifri .box .item .txt {
        font-size: 18px;
        margin-top: 15px;
        line-height: 25px;
    }
    .project_plan {
        padding: 30px 0 0 0;
    }
    .project_plan .text {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 40px;
    }
    .project_plan .title {
        font-size: 25px;
    }
    .project_plan .video video {
        height: 400px;
    }
    .project_slider .item .title {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .project_slider .item .text {
        width: 65%;
        font-size: 16px;
    }
    .project_slider .item {
        margin-bottom: 50px;
    }
    .project_slider .item .btns {
        right: 35px;
    }
    .project_slider .item .box {
        margin: 0 0 0 -4vw;
        width: calc(100% + 8vw);
    }
    .project_slider .item .box .img {
        width: 49%;
    }
}
@media(max-width: 760px){
    .project_head .zag {
        font-size: 30px;
    }
    .project_cifri .box .item {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .project_cifri .box .item:last-child {
        width: 100%;
    }
    .project_slider .item .title {
        font-size: 30px;
    }
    .project_slider .item .text {
        width: 100%;
    }
    .project_slider .item .btns {
        right: 0;
        left: 0;
        bottom: 0;
    }
    .project_slider .item .text {
        width: 100%;
        font-size: 16px;
        padding-bottom: 70px;
        margin-bottom: 10px;
    }
    .project_slider .item:last-child .text {
        width: 100%;
        padding-bottom: 0;
    }
    .project_slider .item .box .img {
        width: 100%;
        margin-bottom: 10px;
    }
    .project_slider .item .box {
        margin: 0;
        width: 100%;
    }
    .project_slider + .form .form__right {
        width: 100%;
    }
    .project_slider + .form .form__container p {
        margin-top: 25px;
    }
    .project_slider .item .btns .slick-arrow{
        width: 40px;
        height: 40px;
    }
    .project_slider .item .btns .slick-arrow svg {
        width: 20px;
        height: 20px;
    }
    .project_slider {
        padding: 50px 0 0 0;
    }
}
@media(max-width: 565px){
    .project_head img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
}