---
title: DecoArt
//- outClass: homepage
---
extends shared/_layout
block content

  include blocks/_hero
  include blocks/_gallery
  include blocks/_rows
  include blocks/_form
  include blocks/_instagram
  include blocks/_int-design
  include blocks/_main-articles
  include blocks/_form