---
title: DecoArt
outClass: fix-header
---
extends shared/_layout
block content

  include blocks/_image-hero-company
  include blocks/_company-about
  include blocks/_team
  include blocks/_awards
  include blocks/_licenses
  include blocks/_reviews
  include blocks/_vacancies
  include blocks/_form