---
title: DecoArt
outClass: fix-header
---
extends shared/_layout
block content

  include blocks/_image-hero
  include blocks/_design-types
  include blocks/_design-terms
  include blocks/_projects-inside
  include blocks/_form